<!--
  Generated template for the FeedbackFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Написать отзыв</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="form">
		<ion-input [(ngModel)]="name" type="text" value="" placeholder="Ваше имя"></ion-input> 
		<ion-textarea [(ngModel)]="text" placeholder="Текст отзыва"></ion-textarea>
		<button ion-button block (click)="change()"><ion-icon name="cart"></ion-icon>Отправить</button>
	</div>
</ion-content>
