<ion-header>
  <ion-navbar>
    <ion-title>О ресторане</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-img width="100%" height="300" src="assets/imgs/category-1-preview.jpg"></ion-img>
	<ion-grid padding="true">

		<h1>О ресторане &laquo;Strazek&raquo;</h1>
		<div class="text">
			<p>Ищите недорогие хорошие рестораны в центре Москвы? Хотите посетить настоящий чешский ресторан пивоварню и хорошо провести время? Тогда добро пожаловать в пивной ресторан «Стражек»!</p>
			<p>Мы приглашаем Вас в неповторимую атмосферу средневековой Чехии. Интерьер нашего пивного бара ресторана выполнен в чешском стиле, наполненном духом старой Европы. Мы работаем над тем, чтобы Вы проводили незабываемые вечера в нашем ресторане баре, наслаждаясь прекрасным свежим чешским пивом, сваренным на нашей пивоварне, чудесной чешской кухней, уютным интерьером. «Стражек» не просто пивной ресторан, а красивый недорогой ресторан с живой музыкой в центре города Москва. По выходным и праздничным дням мы приглашаем талантливых музыкантов, певцов и артистов, проводим тематические мероприятия, незабываемые шоу-программы, болеем вместе с Вами за наших спортсменов.</p>
			<p>На сайте пивного ресторана «Стражек» Вы можете ознакомиться с интерьером залов, меню, ценами, узнать о предстоящих акция и скидках, а также забронировать стол в ресторане.</p>
		</div>

		<button ion-button block (click)='openPage("HallsPage")'><ion-icon name="cafe"></ion-icon>Банкетные залы</button>
		<button ion-button block (click)='openPage("FeedbacksPage")' color="white"><ion-icon name="megaphone"></ion-icon>Отзывы</button>
	</ion-grid>

</ion-content>
