page-about {
	font-size: 1.6rem;
	ion-img { height: 40%; max-height: 500px; width: 100%;}
	ion-img img { position: absolute; top: 0; bottom:0; left:0; right: 0; width: 100%; height: 100%;  object-fit: cover; }

  .text { font-size: 1.8rem; line-height: 120%;}

	h1 { color: color($colors, yellow); font-size: 2.6rem; }
	button { display: inline-block !important; width: 100% !important; max-width: 400px; }
}
