<ion-header>
  <ion-navbar>
	  <ion-searchbar (ionInput)="getItems($event)" placeholder="найти блюдо" [(ngModel)]="searchText"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding  #content>
  <div class="items-container">
    <ion-card *ngFor="let item of items" (click)="openProduct(item.id)">
      <ion-card-content>
        <menu-item [itemID]="item.id"></menu-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
