page-menu-search {

  .items-container {break-inside: avoid; padding-bottom: 10px; }
  .card .card-content { padding:0; }

  @media (min-width: 600px) {
    .items-container { columns: 2; }
  }

  @media (min-width: 1200px) {
    .items-container { columns: 3; }
  }

}
