page-order {

	.form { max-width: 600px; margin: 0 auto; position: relative; }
	h2 { margin-bottom: 1.5rem !important; }
	ion-input { margin-bottom: 1rem !important; }
	.datetime-picker { display: flex; flex-flow: row;margin:-0.5rem;}
	.datetime-picker > ion-datetime { width: 100%; margin:0 0.5rem;}

}
