<ion-header>
  <ion-navbar>
    <ion-title>Корзина заказов</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>

	<button class="order-button" ion-button block (click)="openOrderForm()"><ion-icon name="cart" ></ion-icon>Оформить заказ</button>

	<div class="items-container">
	<ion-card *ngFor="let item of items">
		<ion-card-content>
			<menu-item [itemID]="item.id" class="in-cart"></menu-item>
		</ion-card-content>	
	</ion-card>
	</div>

</ion-content>
