page-cart {

	ion-card { break-inside: avoid-column; padding:0 !important; margin: 0; margin-bottom: 1rem; overflow: hidden; width: auto;  } 
	.items-container {break-inside: avoid; padding-bottom: 10px; columns: 1}
	.card .card-content { padding:0; }

	menu-item h2 { font-size: 2.8rem !important; float: left; }
	menu-item .description { float:left; }
	menu-item .info { float: right; width: auto; margin-left: 2rem; margin-top: -1rem; }
	menu-item .info .price { text-align: center; margin-top: 1rem;}

	menu-item cart-controls button.remove-button { display: inline-block; }


	@media (min-width: 640px) {
		.items-container { columns: 2; }
	}

	@media (min-width: 1200px) {
		.items-container { columns: 3; }
	}

	.order-button { width: 100%; }
}
