page-menu-category {

	h2.section-title { font-size: 3rem; text-align: center; }

	.items-container { padding-bottom: 10px; overflow: hidden; column-gap: 2rem; columns: 2; }
	.items-container:not(:last-child) { padding-bottom: 2rem; margin-bottom: 2rem; border-bottom: 1px solid rgba(255,211,118, 0.4); }

	ion-card { break-inside: avoid; white-space: normal; 	padding:0 !important; margin: 0; margin-bottom: 1rem !important; overflow: hidden; width: auto; 
		display: inline-block !important;
		.card-content { padding:0; }
	} 

	@media (min-width: 600px) {		
		columns: 2;
	}

	@media (min-width: 1200px) {
		columns: 3;
	}


}
