<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ng-container *ngIf="sections.length < 1">
<div class="items-container">
	<ion-card *ngFor="let item of noSection(items)" (click)="openProduct(item.id)">
		<ion-card-content>
			<menu-item [itemID]="item.id"></menu-item>
		</ion-card-content>	
	</ion-card>
</div>
</ng-container>

<ng-container *ngFor="let section of sections">
<h2 class="section-title">{{section}}</h2>
<div class="items-container">
	<ion-card *ngFor="let item of inSection(items, section)" (click)="openProduct(item.id)">
		<ion-card-content>
			<menu-item [itemID]="item.id"></menu-item>
		</ion-card-content>	
	</ion-card>
</div>
</ng-container>
</ion-content>