page-contact {

	.phone {
		background: rgba(0,0,0,0.5); color: color($colors, yellow); padding: 1rem; text-align: center; font-size: 3rem; white-space: nowrap;
		display: flex; flex-flow: row; justify-content: center; align-items: center; align-content: center;}
	.phone strong { color: white; font-weight: 300; }
	.phone .button { display: inline-block; background-color: #a6051b; color: white; border-radius: 50%; font-size: 2rem; width: 5rem; height: 5rem; margin-right: 1rem; }
	.phone .button-inner { }
	
	.address { font-size: 2rem; position: absolute; bottom:-1px; left:0; right:0; padding: 2rem 1rem; background: rgba(0,0,0,0.8); }
	.address p { margin: 0; margin-bottom: 0.25em;  }
	.address p:last-child { margin-bottom: 0; }
	.address p.metro { padding-bottom: 0.5em; font-size: 1.4rem; opacity: 0.6;}

	.buttons button { font-size: 1.2rem !important; padding-left: 1rem !important; padding-right: 1rem !important; width: 130px !important; }

		.vk-button { background-color: #346b9e !important; }
		.facebook-button { background-color: #2e5376 !important; }
		.instagram-button { background-image: linear-gradient(#d03088, #e22d74); }

	.map { background-color: white; position: relative; }

	@media (min-width: 600px) {
		.map { height: 60%; }
		.map iframe  { height: 100%; }

		.buttons { display: flex; flex-flow: row wrap; justify-content: flex-start; align-content: center;  padding: 1rem !important; width: auto; }
		.buttons button { display: inline-block; margin: 0.5rem !important; width: 28%; max-width: 250px; }
	}

	@media (min-width: 900px) {
		.map { height: 100%; }
		.buttons { z-index: 10;  padding: 4rem; border-radius: 1rem;  position: absolute; bottom: 1rem; max-width: 500px; right: 0; flex-flow: row; align-items: center; }
		.buttons button { width: 350px; padding-left: 1rem; padding-right: 1rem; }
		.phone { position: absolute; top: 0; width: 100%; left: 0; right: 0; background: rgba(0,0,0,0.7); }
	}



}
