<ion-header>
  <ion-navbar>
    <ion-title>Контакты</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="map">
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A35c8ab07d1793d6fec14dfab2d92388b1b560d9e746a078929ce959ab769e891&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>
		<div class="address">
			<p class="location"><strong>Адрес:</strong> Москва, Ул. Мастеркова, 8</p>
			<p class="metro">Станция МЦК Автозаводская 400м - 5 мин пешком.</p>
			<p class="worktime"><strong>Часы работы:</strong> ПН-ВС: 11.00 - 24.00</p>
		</div>
	</div>
	<div class="phone">+7 495&nbsp;<strong>675-31-71</strong><button ion-button round class="back" (click)="callPhone('74956753171')"><ion-icon name="call"></ion-icon></button></div>
	<ion-grid padding="true" class="buttons">
		<button class="vk-button" ion-button block (click)="openLink('http://vk.com/strazekru')">ВКонтакте</button>
		<button class="facebook-button" ion-button block (click)="openLink('https://www.facebook.com/strazekrestaurant')">Facebook</button>
		<button class="instagram-button" ion-button block (click)="openLink('https://instagram.com/strazek')">Instagram</button>
	</ion-grid>
</ion-content>
