page-menu-item {

	// .cover { width: 100%; padding-top: 60%; }
	//.cover img { position: absolute; top:0; left:0; bottom:0; right: 0; }
  .cover { width: 100%;  min-height: 300px; }
  .cover img { width:100%; height: 100%; object-fit: cover; display: block; }

	.description { font-size: 1.6rem; margin-bottom: 2rem; }

	.heading { background: rgba(0,0,0,0.4); padding: 2rem; display: flex; justify-content: space-between; font-weight: 300; font-size: 2.8rem; position:relative; top: -0.25rem; align-items: center; }
	.heading h1 { font-weight: 300; font-size: 2.4rem; margin:0; }
	.price { color: color($colors, yellow); white-space: nowrap;}
	.price strong { color: white; }
  .units { color: white; opacity: 0.6; }
	.heading strong { font-weight: 300; }

	.info { padding-bottom: 1.5rem; border-bottom: 1px solid rgba(255, 211, 118, 0.35); color: color($colors, yellow); font-size: 1.8rem; display: flex; justify-content: space-between; margin-bottom: 1.5rem; }
	.info strong { font-weight: 300; color: rgba(255,255,255,0.5); }

	cart-controls { margin-top: 1.5rem; margin: 0 auto !important;}

  @media (orientation: landscape) {
  	.heading { display: none; }
    .cover { position: absolute; height: 100%; width: 50% !important; padding: 0;}
    .cover img { height: 100%; }
    .description { text-align: center;}
    .heading { position: absolute; top: 0; left:0; right: 0; z-index: 10; background: rgba(0,0,0,0.7); }
    .info-block { display: flex; align-items: center; justify-content: center; position: absolute; top:0; bottom: 0; left: auto; right: 0; width: 50%; color: white; padding: 1rem !important;  background: url(../assets/imgs/app-background.jpg) center repeat; }
    .info-block > * { margin: 1rem; }
  }

	@media (min-width: 600px) {
		.description { font-size: 2rem; }
		cart-controls { max-width: 400px; margin-left: 0; margin-right: auto; zoom: 1.2;}
	}

	@media (min-width: 900px) {
	}
}
