<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
	<ion-img *ngIf="image" class="cover" width="100%" src="{{image}}"></ion-img>
	<div class="heading">
		<h1>{{title}}</h1>
    <div *ngIf="positions == null" class="price"><strong>{{price}}</strong> &#8381; <span *ngIf="units != null" class="units">{{units}}</span></div>
	</div>
	<ion-grid padding class="info-block">
		<div class="info" *ngIf="weight != null || calories != null">
			<div class="mass" *ngIf="weight != null"><strong>Вес блюда:</strong> {{weight}}</div>
			<div class="calories" *ngIf="calories != null"><strong>Калорий:</strong> {{calories}}</div>
		</div>
		<div class="description">{{description}}</div>

		<!-- Multiple positions -->
		<ng-container *ngIf="positions != null">
			<cart-controls *ngFor="let position of positions; let i = index" [title]="position.title" [price]="position.price" [itemID]="id + '-' + i " id="controls"></cart-controls>
		</ng-container>

		<!-- Single -->
		<ng-container *ngIf="positions == null">
			<cart-controls [itemID]="id" [title]="units" [price]="price" id="controls"></cart-controls>
		</ng-container>
	</ion-grid>

</ion-content>

