<!-- Generated template for the MenuCategoryComponent component -->
<div class="image" width="100%">
	<img src="{{image}}" />
</div>
<div class="heading">
	<h2>{{title}}</h2>
	<div *ngIf="description != null" class="description">{{description}}</div>		
	<button ion-button round class="open-button"><ion-icon name="arrow-forward"></ion-icon></button>
</div>
