menu-category {

	display: block; 
	break-inside: avoid-column; cursor: pointer;
	width: auto ; padding-top: 71.5%;
	position: relative; border-bottom: 1px solid #a4813e; 
	border-radius: 10px; margin-bottom: 1rem; overflow: hidden;

	.image { top:0; left:0; right:0; bottom:0; width:100%;  position: absolute; overflow:hidden; background:url(../assets/imgs/noimg.jpg) center no-repeat / cover; }
	.image img { width: 100%; height: auto; object-fit: cover; display: block; position: absolute; bottom:0; left:0; right:0;  min-height:100%; }

	.heading { background: rgba(0,0,0,0.5); color: white; position: absolute; bottom:0; left:0; right: 0; padding: 1rem 2rem; box-sizing: border-box; margin-bottom:0; min-height: 2.5em; }
	.heading h2 { margin:0; color: white; font-size: 2.2rem; font-weight: 300; margin-right: 40px;}
	.heading .description { color: color($colors, yellow);}
	.heading button { position: absolute; display: inline-block; right:2rem; top: 50%; transform: translateY(-50%); width: 4rem !important; height: 4rem !important; padding:0; margin:0; }
	.heading button-inner { display: inline-block; }
	.heading button ion-icon { margin-right:0 !important; display: inline-block; }
	         
}
