<ion-header>
  <ion-navbar>
    <ion-title>Банкетные залы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content padding>
<div class="items-container">
	<gallery *ngFor="let hall of halls" [hallID]="hall.id"></gallery>
</div>
</ion-content>

