page-halls {

 	ion-card { break-inside: avoid-column; margin: 0; margin-bottom: 1rem; padding: 0 !important; position: relative; }  

	@media (min-width: 600px) {
		.items-container { columns: 2; }
	}

	@media (min-width: 1200px) {
		.items-container { columns: 3; }
	}

}
