<!--
  Generated template for the FeedbacksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Отзывы</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="addFeedback()">Добавить отзыв</button>
  <div class="items-container">
	<ion-card *ngFor="let feedback of feedbacksList" padding="false">
  	<ion-card-header>{{feedback.name}}</ion-card-header>
	  <ion-card-content>{{feedback.text}}</ion-card-content>
	</ion-card>
	</div>
</ion-content>
