page-feedbacks {

 	ion-card { break-inside: avoid-column; margin: 0; margin-bottom: 1rem; } 

	@media (min-width: 600px) {
		.items-container { columns: 2; }
	}

	@media (min-width: 1600px) {
		.items-container { columns: 3; }
	}


}
