::-webkit-scrollbar {display:none; }

ion-footer  {
  ion-toolbar .toolbar-background { background: rgba(0,0,0,0.8) !important; color: white; }
  ion-toolbar .bar-button {  color:white;  }
  .cart-content { color: white; display: flex; flex-flow: row; align-items:center; justify-content: flex-end; }
  .cart-content .total { font-size: 3rem; margin-right: 1rem;}
  .cart-content .total strong { color: color($colors, yellow); font-weight: normal;  }
}

@media (orientation: landscape) {
 ion-footer {}
}

  button.back { width: 5rem; }

  // Modal window
  .modal-wrapper { border-radius: 1rem !important; }


  // Swiper
  .swiper-pagination-bullet { background: white !important; opacity: 1 !important; }
  .swiper-pagination-bullet-active { background: red !important; }



  // Ionic Variables and Theming. For more info, please see:
  .strazek-theme {

    .menu-inner { box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5) !important; }
    .menu-inner button { text-transform: uppercase; }

    h2 { color:color($colors, yellow); font-size: 1.6rem;}

    // Page
    // -------------------------------------------
    body { background: url(../assets/imgs/app-background.jpg) center repeat, color($colors, dark); background-size: cover; }
    ion-content { background: url(../assets/imgs/app-background.jpg) center repeat, color($colors, dark); color: white; background-size: cover; }
    ion-header { color: white; input { background: white !important; color: color($colors, dark);} }
    ion-img { background:url(../assets/imgs/noimg.jpg) center no-repeat; background-position: 50% 50%; background-size: cover; 	contain: content;  }
    ion-img img { -o-object-fit: cover;  object-fit: cover; width: 100%; height: 100%; background-position: 50% 50%; background-size: cover; }


    // Toolbar
    // -------------------------------------------
    ion-title .toolbar-title { color: color($colors, yellow);  font-weight: 300; font-size: 2.4rem; font-weigh: 200; text-align: right; padding:0;}
    ion-navbar .back-button { display: inline-block; background-color: color($colors, green); width: 4rem; height: 4rem; min-height:4rem; max-width:4rem; max-height:4rem; border-radius: 50%; color: white; min-width: auto !important; }

    .toolbar { min-height: 60px; padding-left: 13px; padding-right: 12px; }
    .toolbar ion-title { text-align: right; left: auto;  }
    .toolbar-content-md { display: flex; flex-flow: row nowrap;}

    .searchbar-input { background-color: transparent !important; color: white !important; border: 1px solid #8e8167; min-height: 4rem; font-size: 1.5rem; }
    .searchbar-input::placeholder { color: white !important; }

    .toolbar-background {
      background:
        linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
        url(../assets/imgs/app-background.jpg) center no-repeat;
      background-size: cover;
    }

    &.footer .toolbar-content {  display: flex; justify-content: flex-end; align-content: center; }
    &.footer .toolbar-content button { margin-bottom: 0; }

    ion-menu .toolbar ion-title { text-align: center !important; }
    ion-menu .content { background: rgba(0,0,0,0.5); color: white; }

    .item-block:last-child { border-bottom: 0 !important; }

    ion-list .item { background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5)); color: white; }
    ion-list .item .item-inner { border-bottom: 1px solid rgba(256,251,188,0.4);  }
    ion-list .item .label { padding: 5px 0; }

    ion-card { background: transparent;	display: block; border: 1px solid #766247; padding: 0.5rem;	border-radius: 5px; background: rgba(51, 38, 28, 0.7); box-shadow: 0 0 10 0 rgba(0,0,0,0.4); margin:0; margin-bottom: 1rem; width: 100%; break-inside: avoid; white-space: nowrap; }
    ion-card > * { white-space: normal; }
    ion-card-header { color: color($colors, yellow); font-weight: 300; font-size: 2rem; }

    ion-content .scroll-content { margin-bottom: 6rem; }

    // UI Buttons
    // -------------------------------------------
    .button { height: 5rem; font-size: 2rem; margin:0 auto; margin-bottom:1rem;  background-color: color($colors, red); color: white; max-width: 500px; }
    .button[color="light"] { background: white; color: color($colors, red); }
    .button[color="green"] { background: color($colors, green); color: white; }
    .button[color="white"] { background: white; color: color($colors, red); }
    .button-block { border-radius: 5px; }
    .button ion-icon { margin: 0 0.5rem; }
    .button-md { }


    // UI Inputs
    // -------------------------------------------
    ion-input { background: white; color: color($colors, dark); border-radius: 5px; margin-bottom: 1rem; padding: 0.7rem 2rem; }
    input { margin: 0; height: 3.5rem; }
    ion-textarea { padding: 0.5rem 1rem; margin-bottom: 2rem; }
    ion-datetime { background: white; color: color($colors, dark); border-radius: 0.5rem; margin-bottom: 1rem; }
    ion-textarea { background: white;	color: color($colors, dark); border-radius: 0.5rem; min-height: 10rem;	}
    .text-input { padding: 0.5rem; line-height: 1.2em !important;} 

    // Generic element
    .warning { font-style: italic; font-size: 1.2rem; opacity: 0.8; margin-top: 10px;}
    .warning:before { content: '*'; color: #a6051b; margin-right: 5px; }


    feedback {
      display: block; border: 1px solid #766247; padding: 2rem 3rem;
      border-radius: 5px; background: rgba(51, 38, 28, 0.7);
      box-shadow: 0 0 10 0 rgba(0,0,0,0.4);

      .date { color: color($colors, yellow); opacity:  0.6; }
      h2 { font-weight: 300; font-size: 2rem; margin-top: 0.5rem;}
    }

  }

