// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue-light-i.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue-light-i.woff') format('woff'),
        url($font-path +'/helvetica-neue-light-i.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue-light.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue-light.woff') format('woff'),
        url($font-path + '/helvetica-neue/helvetica-neue-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue-bold.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue-bold.woff') format('woff'),
        url($font-path + '/helvetica-neue/helvetica-neue-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue.woff') format('woff'),
        url($font-path + '/helvetica-neue/helvetica-neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue-bold-i.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue-bold-i.woff') format('woff'),
        url($font-path + '/helvetica-neue/helvetica-neue-bold-i.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url($font-path + '/helvetica-neue/helvetica-neue-i.woff2') format('woff2'),
        url($font-path + '/helvetica-neue/helvetica-neue-i.woff') format('woff'),
        url($font-path + '/helvetica-neue/helvetica-neue-i.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}



// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

$font-family-base: "HelveticaNeue", sans-serif !default;
body  { font-family: $font-family-base; font-weight: 300; }
ion-app {font-family: $font-family-base !important; }

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yellow:			#ffd376,
  red:				#a6051b,
	green:			#57592a
);

$modal-inset-min-width:	768px;
$modal-inset-min-height-small: 600px;
$modal-inset-min-height-large: 768px;
$modal-inset-width: 800px;
$modal-inset-height-small: 600px;
$modal-inset-height-large: 800px;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "theme";