<ion-menu side="left" [content]="content" type="overlay" class="strazek-theme" *ngIf="isReady == true">
  <ion-header>
    <ion-toolbar>
    	<button ion-button color="red" class="back" (click)="closeMenu()" round>
    		<ion-icon name="arrow-back"></ion-icon>
   		</button>
      <ion-title>Навигация</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)='openPage("MenuPage")'>Меню</button>
      <button ion-item (click)='openPage("OrderTablePage")'>Заказ стола</button>
      <button ion-item (click)='openPage("NewsPage")'>Новости</button>
      <button ion-item (click)='openPage("FeedbacksPage")'>Отзывы</button>
      <button ion-item (click)='openPage("AboutPage")'>О ресторане</button>
      <button ion-item (click)='openPage("HallsPage")'>Банкетные залы</button>
      <button ion-item (click)='openPage("ContactPage")'>Контакты</button>
      <button *ngIf="cartIsEmpty != true" ion-item (click)='openPage("CartPage")'>Корзина</button>
    </ion-list>
	</ion-content>
</ion-menu>
<ion-nav root="LoadingPage" #content class="strazek-theme">
</ion-nav>
<ion-footer class="strazek-theme" *ngIf="isReady == true">
  <ion-toolbar>
	    <button ion-button menuToggle left><ion-icon name="menu"></ion-icon> Меню</button>
	    <span *ngIf="cartIsEmpty == false" class="cart-content">
	    	<span class="total"><strong>{{cartTotal}}</strong> &#8381;</span>
		    <button *ngIf="notInsideCart == true" ion-button right (click)="openCart()" color="light">В корзину</button>    
	    </span>
  </ion-toolbar>
</ion-footer>
