<ion-header>
  <ion-navbar>
	<ion-title>Заказ стола</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="form">
<ion-grid padding>
		
	<!-- Time -->
	<h2><ion-icon name="time"></ion-icon> Время и дата</h2>
	<div class="datetime-picker">
		<ion-datetime displayFormat="MMM DD, YYYY HH:mm" doneText="ОК" placeholder="Укажите желаемую дату и время" cancelText="Отмена" (min)="currentTime" [(ngModel)]="time"></ion-datetime>
	</div>

	<!-- Contacts -->
	<h2><ion-icon name="contacts"></ion-icon> Контактная информация</h2>
	<ion-input [(ngModel)]="name" type="text" value="" placeholder="Ваше имя"></ion-input> 
	<ion-input [(ngModel)]="phone" type="text" value="" placeholder="Контактный телефон"></ion-input>

	<!-- Hall -->
	<h2><ion-icon name="heart"></ion-icon> Выбор зала</h2>
	<hall-selector #hallSelector (onSlide)="updateHall($event)"></hall-selector>

	<!-- Text -->
	<h2><ion-icon name="text"></ion-icon> Комментарий к заказу</h2>
	<ion-textarea [(ngModel)]="text"></ion-textarea>

	<button ion-button block (click)="sendOrder()"><ion-icon name="cart"></ion-icon>Заказать стол</button>
	<div class="warning">Нажимая на кнопку «Заказать стол», Вы соглашаетесь на обработку персональных данных.</div>
</ion-grid>
</div>
</ion-content>
