<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Новости и акции</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="items-container">
	</div>
	<masonry >
   <masonry-brick [options]="masonryOptions" class="brick" *ngFor="let news of newsList">
			<ion-card>
				<ion-card-header>{{ (news.publishDate * 1000) | date:'dd.MM.yyyy' }} {{news.title}}</ion-card-header>
				<ion-card-content>{{news.text}}</ion-card-content>
			</ion-card>
		</masonry-brick>
  </masonry>
</ion-content>