page-news {

	masonry { margin: -0.5rem; }
 	masonry-brick { width: 100%; padding: 0.5rem;}
 	ion-card { break-inside: avoid-column; margin: 0; margin-bottom: 0; width: 100%; height: auto; } 
 	ion-card-header { white-space: normal; height: auto; text-overflow: initial;  }

	@media (min-width: 640px) {
	 	masonry-brick { width: 50%; }
	}

	@media (min-width: 1200px) {
	 	masonry-brick { width: 33%; }
	}


}
