<!-- Generated template for the GalleryComponent component -->

<!--div class="controls">
	<button ion-button color="white" class="prev" round (click)="prev()">
		<ion-icon name="arrow-back"></ion-icon>
	</button>
	<button ion-button color="white" class="next" round (click)="next()">
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
</div-->
<ion-card>
<button ion-button color="white" class="zoom" round (click)="zoom()">
	<ion-icon name="search"></ion-icon>
</button>
<ion-slides class="slides" #slider pager="true" centeredSlides="true">
	<ion-slide class="slide" *ngFor="let image of images">
		<img width="100%"  src="{{image}}" />
	</ion-slide>
</ion-slides>
<div class="text">
	<div class="heading">
		<h2>{{title}}</h2>
	</div>
	<div class="description">{{text}}</div>
</div>
</ion-card>
