gallery {
	position: relative; width: 100%; display: block;

	.zoom { background: rgba(255,255,255, 0.3) !important; width: 50px !important; height: 50px !important; position: absolute; border-radius: 50%; padding:0; z-index: 20; left: 50%; top: 120px; transform: translate(-50%, -50%);}
	.zoom:hover { background: color($colors, red) !important; }
	.zoom ion-icon { z-index: 50; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin:0 !important; color: white; }

	ion-slides { height: 230px; position:relative; width: 100%; background: black;}
	ion-slides ion-slide { width: 100% !important; }

	.text {
		z-index: 1;
		padding: 2rem; padding-top:0;
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
		pointer-events: none;
	}

	h2 { font-size: 2rem !important; color: white !important; margin-top: 10px;}

	img { position: absolute; top: 0; bottom: 0; left:0; right: 0; height:100%; width:100%; object-fit:cover;  }
}


