cart-controls {

	display: flex; flex-flow: row nowrap; align-items: center; grid-gap: 2rem;
	justify-content: space-between;	width: 100%; max-width: 350px !important;

	.cart-control-info {
		display: flex; align-items: center; grid-gap: 2rem; width:100% !important; min-width: 100px; font-size: 2.4rem; text-align: center;
		justify-content: flex-end;

		span { display: inline-block; margin: 0 0.5rem !important; }
		.price { width: 10rem; }
		.price strong { font-weight: 300; color: white; }
		.title { opacity: 0.6; font-size: 1.5rem; text-align: left; width: 100%; }
	}


	.count-input {		
		position: relative; background: white;  font-size: 2.8rem; border-radius: 5px; color: color($colors, dark);
		text-align: center;  margin: 0.5rem !important; width: 12rem; min-width: 12rem; 
		display: flex; align-items: center; justify-content: space-between; height: 6rem;

		button { background: transparent; color: inherit; font-size: 3rem; text-align: center; font-size: 2.6rem; opacity: 0.6; width: 4rem; }
		button.dec { text-align: right; }
		button.inc { text-align: left; }

		ion-input { background: transparent; flex-grow: 1; height: 100%; display: inline-flex; align-items: center;
			justify-content: center; padding: 0 !important; margin: 0 !important; width: auto; text-align: center; }
		ion-input input { text-align: center; padding-left: 1rem; padding-right: 1rem; }
	}

	button.remove-button { display:none; width: 50px;margin: 0 !important; height: 6rem !important; }

}
