<div class="cart-control-info">
	<span *ngIf="_title" class="title">{{_title}}</span>
	<span *ngIf="_price" class="price"><strong>{{_price}}</strong> &#8381;</span>
</div>

<div class="count-input">
	<button class="count-button dec" (click)="dec()">-</button>
	<ion-input #countInput [(ngModel)]="count" min="0" readonly="true" max="20" type="number"></ion-input>
	<button class="count-button inc" (click)="inc()">+</button>
</div>

<button ion-button block class="remove-button" (click)="remove()" color="red">
	<ion-icon name="trash"></ion-icon>
</button>

