<div class="cover" *ngIf="image">
  <img [src]="image" />
</div>
<ion-grid padding>
<div class="text">
	<h2>{{title}}</h2>	
	<div class="info">
		<div *ngIf="description != null && description != ''" class="description">{{description}}</div>
		<div *ngIf="price != null" class="price">
			<span *ngIf="_priceFrom == true && position == null">от </span><strong>{{price}}</strong> &#8381;
			<span *ngIf="units != null" class="units">&nbsp;{{units}}</span>
		</div>
		<div *ngIf="weight != null" class="weight">&nbsp;<strong>{{weight}}</strong></div>
		<cart-controls [itemID]="fullID"></cart-controls>
	</div>
</div>
</ion-grid>