menu-item {

	position: relative;	display: block; width: 100%; padding: 0;

	.text { padding: 0rem; line-height: 100%; }
	.text .description { text-overflow: ellipsis; opacity: 0.7; margin-bottom: 1rem;  overflow: hidden; line-height: 1em; font-size: 1.6rem; }
	.text .info { font-size: 2rem; color: color($colors, yellow); }

	.price strong { font-weight: 300; color: white; }
  .price .units { opacity: 0.6; color: white; }

  .cover { width: 100%; padding-top: 71.5%; position: relative; overflow:hidden; background:url(../assets/imgs/noimg.jpg) center no-repeat / cover; }
  .cover img { display: block; position: absolute; bottom:0; left:0; right:0; object-fit: cover; width: 100%; height: auto; min-height:100%; }

	h2 { margin:0; color: white !important; font-size: 2rem !important; font-weight: 300; margin-bottom: 1rem !important; line-height: 100%; }

 	cart-controls { width: 100%; margin: 0; margin-top: 1rem; max-width: 400px; display: none; }

	&.in-cart {
		margin-bottom: -1rem;	display: flex; align-items: center; flex-wrap: nowrap;

		cart-controls { display: flex; maring-top:0; align-items: center; justify-content: flex-start; }
		cart-controls .cart-control-info { display: none; }

		.info { margin-left: 0 !important; }
		.info .price { text-algn: left !important; }
		.grid { width: 60%; }
		.grid .text { display: flex; flex-flow: column; width: 100%; justify-content: center; align-items: flex-start; }
		.cover { width: 40%; padding-top: 40%; }
	}

}
