<!--
  Generated template for the LoadingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="content">
		<div class="logo">
			<ion-img class="logo-normal" width="300" height="300" src="assets/imgs/logo.png"></ion-img>
			<ion-img #cover class="logo-cover" width="300" height="300" src="assets/imgs/logo-gray.png"></ion-img>
		</div>
		<h2 id="loading-text">{{status}}</h2>
	</div>
</ion-content>
