page-loading {
	.logo { width: 300px; height: 300px; position: relative; }
	.logo ion-img { background: transparent; margin-bottom: 0; position: absolute; top:0; left:0;  }
	.logo .logo-cover { clip: rect(0, 300px, 0px, 0); }
	.content { height: 100%; text-align: center; display: flex; flex-flow: column;justify-content: center; align-content: center; align-items: center; }
	.content h2 { font-size: 2.4rem; margin-top: 0; font-weight: 300; text-align: center; }
}
