<!--
  Generated template for the ImageViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<ion-slides class="slides" #slider pager="true" centeredSlides="true">
		<ion-slide class="slide" *ngFor="let image of images">
			<ion-img width="100%" height="100%" src="{{image}}"></ion-img>
		</ion-slide>
	</ion-slides>
</ion-content>
