hall-selector {
	position: relative; width: 100%; border-radius: 1rem; overflow: hidden; 

	.slides { min-height: 230px; height: 400px;  position:relative}

	.text { position: absolute; bottom:0; left:0; right:0; padding: 2rem; padding-bottom: 4rem; font-size: 1.5rem;
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	}	
	.text h2  { font-size: 2.5rem; margin-bottom: 1rem; text-shadow: 0 2px 2px rgba(0,0,0,0.5); }
	.text .places { display: inline-block; margin: 0 auto; width: auto; padding: 1rem; background: white; border-radius: 1rem; color: black;  margin-bottom: 1rem; }
	.text .places strong {  color: color($colors, red); font-size: 2rem; }

	ion-img { position: absolute; top: 0; bottom: 0; left:0; right: 0; height:100%; width:100%; object-fit:cover;  }
}
