<ion-grid>
<ion-slides #slides class="slides" pager="true" centeredSlides="true" (ionSlideDidChange)="slide()">
	<ion-slide class="slide" *ngFor="let hall of halls">
		<ion-img width="100%"  src="{{hall.image}}"></ion-img>
		<div class="text">
			<div class="heading">
				<h2>{{hall.title}}</h2>
			</div>
			<div class="description">{{hall.description}}</div>
		</div>			
	</ion-slide>
</ion-slides>
</ion-grid>