<ion-header>
  <ion-navbar hideBackButton>
	  <ion-searchbar (ionInput)="getItems($event)" placeholder="найти блюдо"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<div class="items-container">
		<menu-category *ngFor="let item of items" [itemID]="item.id" (click)="openCategory(item.id)"></menu-category>
	</div>
</ion-content>
